/* statsx.css - Versión de Máxima Compatibilidad */
html{ 
    border: 1px solid #707070; 
}
body{ 
    background: #303030; 
    font-family: Arial; 
    color: #E0E0E0; 
    padding: 5px; 
}
table{ 
    width: 98%; 
    border-collapse: collapse; 
    font-size: 15px; 
    margin-bottom: 15px; /* Espacio DEBAJO de cada tabla para separarlas */
    border: 1px solid #707070;
}
th{ 
    background: #454545; 
    color: #88CC00; 
    text-align: center; 
    padding: 5px; 
}
td{ 
    padding: 4px 8px; 
    text-align: left; 
    border-top: 1px solid #454545; 
}
#b{ 
    background: #353535; /* Fila alterna */
}
/* Centrar el texto en el Top15 */
#q td, #q th { 
    text-align: center; 
}
