/* statsx.css - vFinal - Máxima Compatibilidad */
html{
    border: 1px solid #8b4c00;
}
body{
    background: #303030;
    font-family: Arial;
    color: #E0E0E0;
    margin: 5px;
}
table{
    width: 98%;
    font-size: 15px;
    border-collapse: collapse;
    margin-bottom: 15px; /* Espacio debajo de cada tabla */
    border: 1px solid #707070;
}
th{
    background: #454545;
    color: #88CC00;
    text-align: center;
    padding: 5px;
}
td{
    padding: 4px 8px; /* Espaciado interno */
    text-align: left; /* Alinear todo a la izquierda como una lista */
    border-top: 1px solid #454545;
}
#b{
    background: #353535; /* Fila alterna */
}
/* Centrar el texto en el Top15, que sí se ve bien */
#q td, #q th {
    text-align: center;
}
